    <footer class="main-footer">

        <div class="main-footer__box-container main-footer__phone-number">
            <a href="/"><img class="main-header__logo-container__logo-image" src="./img/logo/kytes-logo.png"
                    alt="Logo Kytes"></a>
            <ul class="main-footer__list">
                <li class="main-footer__item"><a
                        href="https://wa.me/?text=Hola,%20Universo.%20Este%20es%20un%20vínculo%20a%20WhatsApp%20del%20proyecto%20integrador%20Juguetería%20Cósmica"
                        class="main-footer__link" target="_blank"><img src="./img/icons/phone-solid.png" alt="Phone"
                            class="main-footer__list__image"> +57 300 4277281</a></li>
            </ul>
        </div>
        <div class="main-footer__box-container">
            <div class="main-footer__title">Explore</div>
            <ul class="main-footer__list">
                <li class="main-footer__item"><a href="/" class="main-footer__link">Home</a>
                </li>
                <li class="main-footer__item"><a href="./categories" class="main-footer__link">Categories</a></li>
                <li class="main-footer__item"><a href="./contact" class="main-footer__link">Contact</a></li>
                <li class="main-footer__item"><a href="./about-us" class="main-footer__link">About Us</a></li>
            </ul>
        </div>
        <div class="main-footer__box-container">
            <div class="main-footer__title">Follow Us</div>
            <ul class="main-footer__list">
                <li class="main-footer__item"><a target="_blank" rel="noopener" href="https://www.instagram.com/"
                        title="Juguetería Cósmica en Instagram" class="main-footer__link"><img
                            src="img/icons/instagram-icon.png" alt="Icono Instagram"
                            class="main-footer__list__image"><span
                            class="main-footer__fallback-text">Instagram</span></a></li>
                <li class="main-footer__item"><a target="_blank" rel="noopener" href="https://www.facebook.com/"
                        title="Juguetería Cósmica en Facebook" class="main-footer__link"><img
                            src="img/icons/facebook-icon.png" alt="Icono Facebook"
                            class="main-footer__list__image"><span
                            class="main-footer__fallback-text">Facebook</span></a></li>
                <li class="main-footer__item"><a target="_blank" rel="noopener" href="https://www.youtube.com/"
                        title="Juguetería Cósmica en YouTube" class="main-footer__link"><img
                            src="img/icons/youtube-icon.png" alt="Icono YouTube" class="main-footer__list__image"><span
                            class="main-footer__fallback-text">YouTube</span></a></li>
            </ul>
        </div>
        <div class="main-footer__box-container">
            <div class="main-footer__title">Legal</div>
            <ul class="main-footer__list">
                <li class="main-footer__item"><a href="#" class="main-footer__link">Privacy Policy</a></li>
                <li class="main-footer__item"><a href="#" class="main-footer__link">Terms & Conditions</a></li>
                <li class="main-footer__item"><a href="#" class="main-footer__link">Cookies Policy</a></li>
            </ul>
        </div>
        <p class="main-footer__base-content">Kytes Swimsuits © 2023. All Rights Reserved | Developed By <a
                class="main-footer__link" href="https://www.linkedin.com/in/dario-ernesto-roca/" target="_blank">Dario
                Ernesto Roca</a></p>
    </footer>