    <input type="checkbox" id="main-nav-toggle" class="main-nav-toggle">
    <header class="main-header">
        <div class="main-header__logo-container">
            <a href="/"><img class="main-header__logo-container__logo-image" src="./img/logo/kytes-logo.png"
                    alt="Logo Kytes"></a>
        </div>
        <div class="main-header__search-form-container">
            <img src="./img/icons/search-icon.png" alt="Search Icon" class="main-header__search-icon">
            <input type="text" name="search" placeholder="Search..." class="main-header__search-form-input">
        </div>


        <div class="main-header__hamburger-button-container">
            <label class="hamburger-button" for="main-nav-toggle">
                <span class="hamburger-button__top-bread"></span>
                <span class="hamburger-button__meat"></span>
                <span class="hamburger-button__bottom-bread"></span>
            </label>
        </div>
        <div class="main-header__main-nav-container">
            <nav class="main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item">
                        <a href="/" class="main-nav__link">Home</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/categories" class="main-nav__link">Categories</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/contact" class="main-nav__link">Contact</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/about-us" class="main-nav__link">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>