    <main class="main">

        <div class='hero'>
            <video autoplay muted loop id="heroBackgroundVideo">
                <source src="./vids/hero-vid-1.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <div class='hero-text'>
                <h1>Kytes Swimsuits</h1>
                <a class='btn anchor' href='#products'>Explore More</a>
            </div>
        </div>

        <section id="products" class="section-cards">
            <header class="section-cards__header">
                <h1 class="section-cards__main-heading">Kytes Swimsuits</h1>
                <h2 class="section-cards__sub-heading">Discover the Latest in Swimwear Fashion</h2>
            </header>
            <div class="cards-container">
                <div class="card">
                    <article class="card__article">
                        <div class="card__image-container">
                            <img class="card__image" src="./img/products/img-1.jpg" alt="image-1">
                        </div>
                        <div class="card__content">
                            <h2 class="card__heading">Swimsuit 1</h2>
                            <p class="card__description">
                            <ul class="card__list">
                                <li class="card__list__item">Category: White Summer</li>
                                <li class="card__list__item">Price: $50.00</li>
                                <li class="card__list__item">Stock: Available</li>
                            </ul>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="card">
                    <article class="card__article">
                        <div class="card__image-container">
                            <img class="card__image" src="./img/products/img-2.jpg" alt="image-2">
                        </div>
                        <div class="card__content">
                            <h2 class="card__heading">Swimsuit 2</h2>
                            <p class="card__description">
                            <ul class="card__list">
                                <li class="card__list__item">Category: Animal Print Summer</li>
                                <li class="card__list__item">Price: $50.00</li>
                                <li class="card__list__item">Stock: Available</li>
                            </ul>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="card">
                    <article class="card__article">
                        <div class="card__image-container">
                            <img class="card__image" src="./img/products/img-3.jpg" alt="image-3">
                        </div>
                        <div class="card__content">
                            <h2 class="card__heading">Swimsuit 3</h2>
                            <p class="card__description">
                            <ul class="card__list">
                                <li class="card__list__item">Category: Blur Summer</li>
                                <li class="card__list__item">Price: $50.00</li>
                                <li class="card__list__item">Stock: Available</li>
                            </ul>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="card">
                    <article class="card__article">
                        <div class="card__image-container">
                            <img class="card__image" src="./img/products/img-4.jpg" alt="image-4">
                        </div>
                        <div class="card__content">
                            <h2 class="card__heading">Swimsuit 4</h2>
                            <p class="card__description">
                            <ul class="card__list">
                                <li class="card__list__item">Category: Red Summer</li>
                                <li class="card__list__item">Price: $50.00</li>
                                <li class="card__list__item">Stock: Available</li>
                            </ul>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="card">
                    <article class="card__article">
                        <div class="card__image-container">
                            <img class="card__image" src="./img/products/img-5.jpg" alt="image-5">
                        </div>
                        <div class="card__content">
                            <h2 class="card__heading">Swimsuit 5</h2>
                            <p class="card__description">
                            <ul class="card__list">
                                <li class="card__list__item">Category: Animal Print Summer</li>
                                <li class="card__list__item">Price: $50.00</li>
                                <li class="card__list__item">Stock: Available</li>
                            </ul>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="card">
                    <article class="card__article">
                        <div class="card__image-container">
                            <img class="card__image" src="./img/products/img-6.jpg" alt="image-6">
                        </div>
                        <div class="card__content">
                            <h2 class="card__heading">Swimsuit 6</h2>
                            <p class="card__description">
                            <ul class="card__list">
                                <li class="card__list__item">Category: Orange Summer</li>
                                <li class="card__list__item">Price: $50.00</li>
                                <li class="card__list__item unavailable">Stock: Unavailable</li>
                            </ul>
                            </p>
                        </div>
                    </article>
                </div>
            </div>


            </div>
        </section>

    </main>