footer.main-footer
  .main-footer__box-container.main-footer__phone-number
    a(href="/")
      img.main-header__logo-container__logo-image(src="./img/logo/kytes-logo.png" alt="Logo Kytes")
    ul.main-footer__list
      li.main-footer__item
        a.main-footer__link(href="https://wa.me/?text=Hola,%20Universo.%20Este%20es%20un%20vínculo%20a%20WhatsApp%20del%20proyecto%20integrador%20Juguetería%20Cósmica" target="_blank")
          img(src="./img/icons/phone-solid.png" alt="Phone" class="main-footer__list__image")
          |  +57 300 4277281

  .main-footer__box-container
    .main-footer__title Explore
    ul.main-footer__list
      li.main-footer__item
        a.main-footer__link(href="/") Home
      li.main-footer__item
        a.main-footer__link(href="/categories") Categories
      li.main-footer__item
        a.main-footer__link(href="./contact") Contact
      li.main-footer__item
        a.main-footer__link(href="./about-us") About Us

  .main-footer__box-container
    .main-footer__title Follow Us
    ul.main-footer__list
      li.main-footer__item
        a.main-footer__link(target="_blank" rel="noopener" href="https://www.instagram.com/" title="Juguetería Cósmica en Instagram")
          img(src="img/icons/instagram-icon.png" alt="Icono Instagram" class="main-footer__list__image")
          span.main-footer__fallback-text Instagram
      li.main-footer__item
        a.main-footer__link(target="_blank" rel="noopener" href="https://www.facebook.com/" title="Juguetería Cósmica en Facebook")
          img(src="img/icons/facebook-icon.png" alt="Icono Facebook" class="main-footer__list__image")
          span.main-footer__fallback-text Facebook
      li.main-footer__item
        a.main-footer__link(target="_blank" rel="noopener" href="https://www.youtube.com/" title="Juguetería Cósmica en YouTube")
          img(src="img/icons/youtube-icon.png" alt="Icono YouTube" class="main-footer__list__image")
          span.main-footer__fallback-text YouTube

  .main-footer__box-container
    .main-footer__title Legal
    ul.main-footer__list
      li.main-footer__item
        a.main-footer__link(href="#") Privacy Policy
      li.main-footer__item
        a.main-footer__link(href="#") Terms & Conditions
      li.main-footer__item
        a.main-footer__link(href="#") Cookies Policy

  p.main-footer__base-content
    | Kytes Swimsuits © 2023. All Rights Reserved | Developed By 
    a.main-footer__link(href="https://www.linkedin.com/in/dario-ernesto-roca/" target="_blank") Dario Ernesto Roca
