footer.main-footer
  .main-footer__box-container.main-footer__phone-number
    a(href="/")
      img.main-header__logo-container__logo-image(src="./img/logo/kytes-logo.png" alt="Logo Kytes")
    ul.main-footer__list
      li.main-footer__item
        a.main-footer__link(href="https://wa.me/?text=Hey.%20Just%20saying%20hi!" target="_blank")
          img(src="./img/icons/phone-solid.png" alt="Phone" class="main-footer__list__image")
          |  +57 300 4277281

  .main-footer__box-container
    .main-footer__title Explore
    ul.main-footer__list
      li.main-footer__item
        a.main-footer__link(href="/") Home
      li.main-footer__item
        a.main-footer__link(href="/categories") Categories
      li.main-footer__item
        a.main-footer__link(href="./contact") Contact
      li.main-footer__item
        a.main-footer__link(href="./about-us") About Us

  .main-footer__box-container
    .main-footer__title Follow Us
    ul.main-footer__list
      li.main-footer__item
        a.main-footer__link(target="_blank" rel="noopener" href="https://www.instagram.com/" title="Instagram")
          img(src="img/icons/instagram-icon.png" alt="Icon Instagram" class="main-footer__list__image")
          span.main-footer__fallback-text Instagram
      li.main-footer__item
        a.main-footer__link(target="_blank" rel="noopener" href="https://www.facebook.com/" title="Facebook")
          img(src="img/icons/facebook-icon.png" alt="Icon Facebook" class="main-footer__list__image")
          span.main-footer__fallback-text Facebook
      li.main-footer__item
        a.main-footer__link(target="_blank" rel="noopener" href="https://www.youtube.com/" title="YouTube")
          img(src="img/icons/youtube-icon.png" alt="Icon YouTube" class="main-footer__list__image")
          span.main-footer__fallback-text YouTube

  .main-footer__box-container
    .main-footer__title Legal
    ul.main-footer__list
      li.main-footer__item
        a.main-footer__link(href="#") Privacy Policy
      li.main-footer__item
        a.main-footer__link(href="#") Terms & Conditions
      li.main-footer__item
        a.main-footer__link(href="#") Cookies Policy

  p.main-footer__base-content
    | Kytes Swimsuits © 2023. All Rights Reserved | Developed By 
    a.main-footer__link(href="https://www.linkedin.com/in/dario-ernesto-roca/" target="_blank") Dario Ernesto Roca
