*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
  }

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #101010;
    margin: 0;
}

p {
    color: #fff;
}
