extends layout.pug

block appContent
    main.main
        .cover-contact
            .hero-text
                h1 About Us

    section#about-us.section-cards
        .about-us-container
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus non error consequuntur? Nemo, quos. Laboriosam ex debitis enim eius facilis. Repudiandae corrupti voluptate nihil vero pariatur quo quisquam numquam consequuntur!
            p Labore, non. Eius odio nisi quos pariatur, praesentium similique nostrum eum culpa eligendi quasi sequi expedita, in natus magnam ipsa perferendis asperiores distinctio enim veniam. At voluptas natus suscipit porro?
            p Odio, labore illum. Accusantium velit odit a aliquam perspiciatis quo qui officia tenetur inventore accusamus nesciunt, temporibus quae provident explicabo dolorem voluptate neque minima voluptatibus laborum eveniet cupiditate itaque vitae!
            p Aliquid temporibus beatae laboriosam eligendi, ipsam modi itaque laborum earum, perferendis iste consequatur rem! Voluptatum, tenetur doloribus, laboriosam modi, commodi natus architecto labore sed magni nobis enim alias. Voluptates, modi?
            p At, eum cupiditate? Odit quae inventore laboriosam expedita, distinctio adipisci, aliquam consectetur eos nesciunt alias quia fugit officiis molestias similique at illum hic amet! Quasi in modi eos! Optio, temporibus.