extends layout.pug

block appContent
    main.main
        .hero
            video(autoplay muted loop id="heroBackgroundVideo")
                source(src="./vids/hero-vid-2.mp4" type="video/mp4")
                | Your browser does not support HTML5 video.
            .hero__overlay
            .hero-text
                h1 Categories
                a.btn.anchor(href='#categories') Explore More

        section#categories.section-cards
            header.section-cards__header
            h1.section-cards__main-heading Categories
            .categories-container
                each categoriesGroup in data.categories
                    ul.categories-container__group
                        each category in categoriesGroup
                            li.categories-container__item #{category}