@media (min-width: 768px) {

    .main,
    .main-alta,
    .main-privacy-disclosure,
    .main-us {
        // max-width: 1200px;
        margin: 0 auto;
        background-color: #101010;
        padding-bottom: 3em;
    }
    
}